body {
    margin: 0;
    font-family: 'Segoe UI',;
    background: linear-gradient(to right, #F2EDE2, #483D8B );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  
  form {
    box-shadow: 0 0 10px 5px #48abe0,
    0 0 25px 15px #8a2be2;
    max-width: 400px;
    padding: 20px;
    border:3px solid white;
    background: linear-gradient(to bottom, #800080, #4B0082);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    color: #fff;
  }
  
  form:hover {
    transform: scale(1.1);
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 5px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
  }
  
  input:focus {
    border-color: #483D8B;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #45a049;
  }
  